/*----------------------------------------------------------------------------------------------------------
		FileName    : error.css
		Created By  : Megha Kedia
		DateCreated : 1-March-2018
		Description : added style for error to display.

------------------------------------------------------------------------------------------------------------*/

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size:130%; 
}
.container {
    position: relative;
    text-align: center;
}