a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
p {
  font-family: sans-serif;
  color: #b5b5d8;
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
 
}
